<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">HFU Angular Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngIf="(user|async)?.uid">
      <li class="nav-item">
        <a routerLink="/usergallery" class="nav-link">User Gallery</a>
      </li>
      <li class="nav-item">
        <a routerLink="/upload" class="nav-link">Upload</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li *ngIf="!(user|async)?.uid" class="nav-link badge badge-success">
        <a routerLink="/login" class="nav-link">Log In</a>
      </li>
      <li class="nav-item" *ngIf="(user|async)?.uid">
        <a href="#" (click)="logOut()" class="badge badge-danger">Log Out</a>
      </li>
    </ul>
  </div>
</nav>